*,
*:focus,
*::before,
*::after {
	box-sizing: border-box;
	outline: 0;
	border: none;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0;
	color: rgba(0, 0, 0, .87);
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.container {
	display: flex;
	align-content: center;
	align-items: center;
	height: calc(100vh - 64px);
	padding: 32px;
}

.content {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	vertical-align: middle;
	background-color: #fff;
	font-size: 20px;
	font-weight: 600;
	height: 64px;
}

.logo div {
	padding: 16px;
}

.link {
	display: flex;
	width: 100%;
	margin: 4px 0;
	padding: 16px 32px;
	background-color: #fff;
	color: #2979FF;
	border-radius: 5px;
	transition: .1s ease;
	border: 1px solid rgba(0, 0, 0, .12);
	cursor: pointer;
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	font-size: 18px;
}

.link:hover {
	background-color: #2979FF;
	color: #fff;
}

.input {
	display: flex;
	width: 100%;
	padding: 16px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, .12);
	margin: 4px 0;
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
}

.input::placeholder {}

.shp {
	position: relative;
	font-size: 16px;
	padding: 16px;
	border-left: 1px solid rgba(0, 0, 0, .12);
	color: rgba(0, 0, 0, .5);
	float: right;
	margin-top: -60px;
	cursor: pointer;
}

.hint {
	padding: 8px 16px;
	color: #f00;
	border-radius: 5px;
	margin: 4px 0;
}

@media (max-width: 640px) {
	.container {
		display: block;
		padding: 16px;
	}
}
