*,
*:focus,
*::before,
*::after {
	box-sizing: border-box;
	outline: 0;
	border: none;
}

:root {
	--primary-color: #03a9f4;
	--accent-color: #2979FF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 8px 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
}

[hidden] {
	display: none;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}

html,
body {
	margin: 0;
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	font-size: 18px;
	line-height: 1.5;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}

.demo-avatar {
	width: 64px;
	height: 64px;
	border-radius: 100%;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
	background: none;
}

.mdl-layout__drawer .avatar {
	margin-bottom: 16px;
}

.mdl-list__item-avatar,
.mdl-list__item-avatar.material-icons {
	background: none;
	color: var(--accent-color);
	height: 100%;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
	padding: 8px 0;
}

.demo-drawer {
	border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
	z-index: -1;
}

.demo-drawer .demo-navigation {
	z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.demo-drawer-header {
	box-sizing: border-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 16px;
	height: 151px;
}

.demo-avatar-dropdown {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
}

.demo-navigation {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.demo-layout .demo-navigation .mdl-navigation__link {
	padding: 16px;
	font-size: 16px;
	color: inherit;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
	background-color: rgba(0, 0, 0, .08);
}

.demo-navigation .mdl-navigation__link .material-icons {
	font-size: 24px;
	margin-right: 32px;
}

.demo-ribbon {
	height: 30vh;
	z-index: 0;
}

.demo-content {
	margin-top: -30vh;
	padding: 32px 32px 128px 32px;
	max-width: 1080px;
}

.demo-header button {
	margin-left: 16px;
}

.logo {
	font-weight: 600;
	margin: 0 8px 0 0;
}

.mdl-menu__container {
	top: 53px !important;
}

.search-list {
	width: 100vw;
	left: 240px;
	min-height: calc(100vh - 53px);
}

#search-list .mdl-textfield.is-focused {
	position: absolute;
	width: 100vw;
	left: 252px;
	top: -6px;
	background-color: #fff;
	z-index: 9999;
}

.mdl-textfield .mdl-button--icon {
	background-color: #fff;
}

@media screen and (max-width: 1024px) {
	.search-list {
		left: 0;
	}

	#search-list .mdl-textfield.is-focused {
		left: 12px;
	}
}

.img-bg {
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

#fab {
	position: fixed;
	display: block;
	right: 0;
	bottom: 0;
	margin-right: 28px;
	margin-bottom: 28px;
	z-index: 3;
}

.mdl-list__item {
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
}

.mdl-layout-title {
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	font-size: 22px;
}

.demo-options .mdl-checkbox__box-outline,
.demo-options .mdl-checkbox.is-checked .mdl-checkbox__box-outline {
	border-color: #fff;
}

.demo-options .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
	background: #fff;
}

.demo-options ul {
	margin: 0;
	padding: 16px;
	list-style-type: none;
}

.demo-options li {
	margin: 8px 0;
}

.mdl-card__actions {
	display: flex;
	align-items: center;
	padding: 8px;
}

.demo-header-row {
	padding: 0 16px 0 64px;
	background-color: #fff;
}

.active {
	color: var(--accent-color) !important;
}

.mdl-menu__item .material-icons {
	margin-right: 16px;
	vertical-align: middle;
}

.mdl-button:not(.mdl-button--icon):not(.mdl-button--fab) {
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	text-transform: none;
	font-size: 18px;
	padding: 4px 24px;
	margin: 4px;
	height: auto;
	border-radius: 8px;
}

.heading {
	padding: 16px 0;
	font-size: 24px;
}

.heading:first-child {
	color: #fff;
}

.mdl-card {
	transition: 200ms ease;
	border-radius: 8px;
}

.demo-card-wide .mdl-card__title {
	color: #fff;
	height: 30vh;
	min-height: 256px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.demo-card-wide > .mdl-card__menu {
	color: #fff;
}

.mdl-card__supporting-text {
	text-overflow: ellipsis;
	line-height: 1.5;
}

.demo-card-image.mdl-card {
	min-height: 256px;
	background-position: center !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	border-radius: 8px;
	color: #fff;
}

.demo-card-image .mdl-card__actions {
	padding: 16px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .2));
}

.demo-card-event.mdl-card {
	color: #fff;
	border-radius: 8px;
}

.demo-card-event .mdl-card__title {
	align-items: flex-start;
}

.demo-card-event .mdl-card__title h4 {
	color: #fff;
}

.demo-card-event .mdl-card__actions {
	padding: 8px 16px 8px 8px;
}

.demo-card-event .mdl-card__actions .mdl-button {
	color: #fff;
}

.mdl-data-table {
	table-layout: fixed;
	font-size: 16px;
	border-radius: 8px;
	border: none;
}

.mdl-data-table td,
th {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mdl-data-table th {
	font-size: 16px;
}

.mdl-data-table td:first-of-type,
.mdl-data-table th:first-of-type {
	text-align: left;
}

.mdl-data-table a:hover {
	color: var(--primary-color);
}

..mdl-data-table tr:first-of-type {
	text-align: left;
}

.del:hover {
	color: #f44336 !important;
}

th.sort:hover {
	cursor: pointer;
}

th.sort:after {
	font-family: 'Material Icons';
	content: " sort";
}

th.sort.asc:after {
	content: " arrow_downward";
}

th.sort.desc:after {
	content: " arrow_upward";
}

.section--footer {
	padding: 32px;
}

.section--footer .section__circle {
	width: 64px;
	height: 64px;
	border-radius: 100%;
}

.mdl-mega-footer--link-list a:hover {
	color: #fff;
}

.mdl-dialog {
	border: none;
	box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
	width: 320px;
	border-radius: 8px;
}

.mdl-dialog__title {
	padding: 8px;
	margin: 0;
	font-size: 1rem;
}

.mdl-dialog__actions {
	padding: 8px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.mdl-dialog__actions > * {
	margin-right: 8px;
	height: 36px;
}

.mdl-dialog__actions > *:first-child {
	margin-right: 0;
}

.mdl-dialog__actions--full-width {
	padding: 0 0 8px 0;
}

.mdl-dialog__actions--full-width > * {
	height: 48px;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	padding-right: 16px;
	margin-right: 0;
	text-align: right;
}

.mdl-dialog__content {
	padding: 8px;
	color: rgba(0, 0, 0, 0.68);
}

.ico {
	position: absolute;
	margin-top: 13px;
	margin-left: 24px;
}

.search {
	display: flex;
	width: calc(100% - 16px);
	background-color: #fff;
	padding: 16px 16px 16px 46px;
	border-radius: 32px;
	margin: 0 auto;
	font-size: 16px;
}

.mdl-button--file input {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	z-index: 4;
	opacity: 0;
}

.mdl-textfield--file .mdl-button--file {
	right: 0;
}

.mdl-snackbar {
	font-family: 'Product Sans', 'Roboto', 'Helvetica', sans-serif;
	font-size: 18px;
	margin: 8px;
}

@media screen and (max-width: 640px) {
	.demo-content {
		padding: 16px 0 128px 0;
	}

	.section--footer {
		padding: 32px 8px;
	}

	.mdl-snackbar {
		margin: 0;
	}
}
